
.panel-controller {
  padding: 5rem;
  width: 190rem;
  padding-bottom: 0;

  .panel {
    background-color: #ffffff11;
    border-radius: 5rem;
    padding: 5rem;
    margin-bottom: 5rem;

    .panel-header {
      font-size: 14rem;
      color: #efefef;
      font-weight: bold;
      line-height: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .panel-header-title {
        user-select: none;
        margin-top: -2rem;
        flex-grow: 1;
      }

      .panel-header-content-container {
        line-height: 1;
        margin: 0;
        padding: 0;

        p {
          font-size: 12rem;
          margin: 0;
          padding: 0;
          font-weight: normal;
          color: #aaaaaa;
        }
      }

      .panel-collapse-button {
        width: 14rem;
        height: 14rem;
        background-color: #ffffff00;
        transition: background-color 0.2s ease;
        border-radius: 20rem;
        margin-left: 5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 10rem;
          height: 10rem;
          fill: #d8d8d8;
          transition: transform 0.2s ease, fill 0.2s ease;
        }

        &:hover {
          svg {
            fill: #a4a4a4;
          }
        }

      }
    }

    .panel-content {
      font-size: 12rem;
      color: #d0d0d0;
      margin-top: 5rem;

      .panel-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }

      .panel-line-value {
        font-variant-numeric: tabular-nums;
      }

      .panel-separator {
        height: 1rem;
        background-color: #ffffff22;
        margin: 5rem 0;
      }
    }

    &.collapsed {
      .panel-header {
        .panel-collapse-button {
          svg {
            transform: rotate(90deg);
          }
        }
      }
      .panel-content {
        display: none;
      }
    }
  }
}