
.panel-controller {
  padding: 5rem;
  width: 190rem;
  padding-bottom: 0;

  .panel {
    background-color: #ffffff11;
    border-radius: 5rem;
    padding: 5rem;
    margin-bottom: 5rem;

    .panel-header {
      font-size: 14rem;
      color: #efefef;
      font-weight: bold;
      line-height: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .panel-header-title {
        user-select: none;
        margin-top: -2rem;
        flex-grow: 1;
      }

      .panel-header-content-container {
        line-height: 1;
        margin: 0;
        padding: 0;

        p {
          font-size: 12rem;
          margin: 0;
          padding: 0;
          font-weight: normal;
          color: #aaaaaa;
        }
      }

      .panel-collapse-button {
        width: 14rem;
        height: 14rem;
        background-color: #ffffff21;
        transition: background-color 0.2s ease;
        border-radius: 2rem;
        margin-left: 5rem;

        &:hover {
          background-color: #ffffff3b;
        }
      }
    }

    .panel-content {
      font-size: 12rem;
      color: #d0d0d0;
      margin-top: 5rem;

      &.collapsed {
        display: none;
      }

      .panel-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }

      .panel-line-value {
        font-variant-numeric: tabular-nums;
      }

      .panel-separator {
        height: 1rem;
        background-color: #ffffff22;
        margin: 5rem 0;
      }
    }
  }
}