.user-panel-checkbox-line-container {
  .user-panel-checkbox-line-label {
    
  }

  .user-panel-checkbox-line-checkbox {
    border: none;
    border-radius: 2rem;
    background-color: #ffffff21;
    pointer-events: auto;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid #545454;

    &:hover {
      background-color: #ffffff3b;
    }

    .user-panel-checkbox-line-checkmark {
      height: 11rem;
      width: 11rem;
      margin: 0.5rem;
      
      svg {
        height: 100%;
        width: 100%;
        pointer-events: none;
        visibility: hidden;
        
        g {
          fill: #d8d8d8;
        }
      }
    }

    &.checked {
      svg {
        visibility: visible;
      }
    }

  }
}