.user-panel-number-input-line-container {
  .user-panel-number-input-line-label {}

  .user-panel-number-input-line-stepper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80rem;
  }

  .user-panel-number-input-line-stepper-plus,
  .user-panel-number-input-line-stepper-minus,
  .user-panel-number-input-line-value {
    pointer-events: auto;
    color: rgb(238, 238, 238);
    border-radius: 2rem;
    background-color: #ffffff21;
    border: 1rem solid #545454;
    transition: background-color 0.2s ease;
    height: 14rem;

    font-family: PFDINMax, "Warhelios", sans-serif;
    font-weight: 400;

    &:hover {
      background-color: #ffffff3b;
    }
  }

  .user-panel-number-input-line-stepper-plus,
  .user-panel-number-input-line-stepper-minus {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      font-size: 16rem;
      line-height: 1;
    }
  }

  .user-panel-number-input-line-value {
    cursor: text;
    font-size: 11rem;
    line-height: 1.1;
    padding-left: 2rem;
    flex: 1;
    margin-left: 2rem;
    margin-right: 2rem;

    letter-spacing: 0.02em;
    text-align: center;

    &::selection {
      background-color: #949494;
      color: #151515;
    }
  }
}

.game-mt {
  .user-panel-number-input-line-container {

    .user-panel-number-input-line-stepper-plus,
    .user-panel-number-input-line-stepper-minus {
      div {
        transform: translateY(-2.5rem);
      }
    }
  }
}