
.floating-panel {
  position: absolute;

  top: 50rem;
  left: 50rem;
  
  border-radius: 10rem;
  background-color: #181818;
  border: 1rem solid #545454;
  box-shadow: 0rem 4rem 16rem rgba(0, 0, 0, 0.6);
  pointer-events: all;
  cursor: pointer;

  .floating-panel-hover-header {
    position: absolute;
    top: -19rem;
    left: 0;
    right: 0;
    text-align: center;
    color: #f9f9f9;
    font-size: 12rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translateY(5rem);
    text-shadow: 0 0 10rem rgba(0, 0, 0, 1), 0 0 4rem rgba(0, 0, 0, 1);
  }

  &:hover .floating-panel-hover-header {
    opacity: 1;
    transform: translateY(0);

  }
}

.floating-panel-debug-click-area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9998;
  background-color: rgba(0, 255, 8, 0.09);
}